# Platform specific hacks go here :)

if [[ `uname -s` == "Darwin" ]]; then
	alias xdg-open=/usr/bin/open
fi

# Universal aliases

alias code='code-insiders'
alias config='git --git-dir=$HOME/.cfg/.git/ --work-tree=$HOME'
alias v='source .venv/bin/activate || source venv/bin/activate'
alias kssh='TERM=xterm-256color ssh'
alias mkssh="TERM=xterm-256color ssh -i ~/.ssh/oldevops.pem"
alias mscp="scp -i ~/.ssh/oldevops.pem"
alias mrsync="rsync -e ssh -i ~/.ssh/oldevops.pem"
alias openai='export OPENAI_API_KEY=`op item get 'OpenAI' --fields credential`'
alias pr='poetry run'
alias psh='poetry shell'

# Fun :)
alias ssdf='ssh feoh@sverige.sdf.org'
alias fsdf='ssh feoh@faeroes.sdf.org'

# Update mah kickstart.nvim fork in my local dotfiles!
alias nvpull='config subtree pull --prefix .config/nvim https://github.com/feoh/kickstart.nvim master'

# Mutt mail for MIT!
alias mitt='mutt -F ~/.config/mutt/mitrc'

# tl is already taken by the tmux plugin!
alias toolong=$HOME/.local/bin/tl

# I'm constantly typing poetry run nvim . :)
alias pet='poetry run nvim .'
alias pem='poetry run nvim __main__.py'
