alias code='code-insiders'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/.git/ --work-tree=$HOME'
alias v='source .venv/bin/activate || source venv/bin/activate'
alias kssh='TERM=xterm-256color ssh'
alias mkssh="TERM=xterm-256color ssh -i ~/.ssh/oldevops.pem"
